.footer {
  padding: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: rgba($white, 0.1) 1px solid;
  @include media-down(mobile) {
    text-align: center;
  }
  ul {
    border-bottom: 1px solid rgba($black, 0.3);
    li {
      display: inline;
      padding: 10px;
    }
  }
}

.logo {
  @include media-down(mobile) {
    margin: 0 auto 15px;
  }
}

.sitemap {
  font-size: 14px;
  @include media-down(mobile) {
    width: 100%;
  }
  a {
    color: $white;
  }
}
