.container {
  text-align: center;
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    input {
      width: 300px;
      height: 37px;
      @include media-down(tablet) {
        width: 100%;
      }
    }
    .submitContainer {
      .formButton {
      }
    }
    .errorMsg {
      color: $error;
      position: relative;
      top: 15px;
      height: 23px;
    }
  }
}
